/* DARKNESS */
.body{
	background-color:#484848;
}
h1,
h2,
h3,
h4,
h5,
h6,
h7{
	color:#EAEAEA;
}
*{
	color:white;
	-webkit-font-smoothing:subpixel-antialiased !important;
	text-shadow:1px 1px 1px rgba(0,0,0,0.01) !important;
	margin:0;
}

/* MODULAR UTILITY CLASSES */
.indent-1em{
	text-indent: 1em;
}
.indent-1-5em{
	text-indent: 1.5em;
}
.indent-2em{
	text-indent: 2em;
}
div.sub-info .sub-image{
	float:left;
	height:100px;
	margin: 0.5% 2% 1% 1%;
}
div.sub-text{
	float:left;
}
.text-left{
	text-align:left;
}
.text-right{
	text-align:right;
}
.center-text{
	text-align:center;
}
.justify-text{
	text-align:justify;
}
.border-rad-4px{
	border-radius:4px;
}
.nostyle{
	list-style:none;
}
.text-black{
	color:black;
}
.display-inline-block{
	display:inline-block;
}
.twoCol-left{
	width:50%;
	float:left;
}
.twoCol-right{
	width:50%;
	float:left;
}
.trans-white{
	opacity:0.6;
	background-color:#FFFFFF;
}
.underline{
	text-decoration:underline;
}

/* MODALS */
.modal-dialog {
	background-color: #FFFFFF;
	color:black;
	padding:0 1%;
	border-radius:4px;
}
#state-dd-wrapper,
#city_zip-wrapper{
	width:52%;
	margin: -0.5em 24%;
	padding:1%;
}
#state-dd-wrapper select,
#city_zip-wrapper input{
	float:right;
	width:10em;
}
#weather-modal-header{
	font-size:24pt;
}
#weather-modal-body label{
	width:8em;
	text-align:right;
}
#state-dd-wrapper label{
	padding-top:0.025em;
}
#city_zip-wrapper label{
	padding-top:0.35em;
}

/* JS CLASSES */
.to-upper{
	text-transform:uppercase;
	text-decoration:none;
	outline:none;
}
.red-highlight{
	box-shadow: 0 0 35px #ff4747;
}
.hidden{
	visibility: hidden;
}
.draggable{
	cursor:move;
}

/* JQUERY UI CUSTOM STYLE */
.ui-accordion-header{
    background-image: -moz-linear-gradient(top,  #f87aa0 0%, #c86585 100%) !IMPORTANT; /* FF3.6+ */
    background-image: -webkit-linear-gradient(top,  #ECF0F1 0%, #BDC3C7 100%) !IMPORTANT; /* Chrome10+,Safari5.1+ */
    background-image: linear-gradient(to bottombottom,  #f87aa0 0%, #c86585 100%) !IMPORTANT; /* W3C */
    border:1px solid rgba(0,0,0,0.3) !IMPORTANT;
}
.ui-accordion-header:hover{
	background-image: -moz-linear-gradient(top, #f87aa0 0%, #c86585 100%) !IMPORTANT; /* FF3.6+ */
    background-image: -webkit-linear-gradient(top,  #ECF0F1 0%, #BDC3C7 100%)!IMPORTANT; /* Chrome10+,Safari5.1+ */
    background-image: linear-gradient(to bottombottom,  #f87aa0 0%, #c86585 100%) !IMPORTANT; /* W3C */
    border:1px solid rgba(0,0,0,0.3) !IMPORTANT;
    color: 
}

/* FONTS */
@font-face{
  src:url(../fonts/exo/exo-semibold/exo-semibold-webfont.ttf);
  font-family: "exo-semibold";
}
@font-face{
  src:url(../fonts/source-sans-pro/SourceSansPro-Regular.otf);
  font-family: "source-sans";
}
@font-face{
  src:url(../fonts/open-sans/OpenSans-Regular.ttf);
  font-family: "open-sans";
}

/* LINKS */
div#menu-container a,
div#content-area a{
	color:lightblue;
}
div#menu-container a:active,
div#content-area a:hover {
	color:#DC8500;
	outline: none;
}

/* TITLE */
div#title-container{
	color:white;
	width:80%;
	margin: 4% 10% 4% 10%;
	text-align:center;
}
div#title-container #title{
	font-size:60pt;
	font-family: exo-semibold;
	letter-spacing: 4px;
}
div#title-container #sub-title{
	font-family:open-sans;
	width:80%;
	margin: 2% 10%;
	line-height:140%;
	letter-spacing:1px;
}

/* MENU */
div#menu-container{
	font-family: source-sans;
	float:left;
	width:18%;
	margin-left: 4%;
	margin-top:0.1%;
	border:1px solid #A0A0A0;
	border-radius:4px;
	background-color:#383838;
}
#menu-header{
	border-bottom:1px solid #DDDDDD;
	color:white;
	font-size:16pt;
	font-weight: bold;
	padding-left:4%;
	margin-left:5%;
	margin-right:5%;
}
#menu-list li a{
	letter-spacing: 1pt;
}

/* CONTENT AREA */
div#content-area{
	float:right;
	width:73%;
	margin: -4% 4% 0% 0%;
}
div#content-area .page-header{
	padding-left:3.75%;
	font-family: source-sans;
	font-weight:bold;
	letter-spacing:3px;
}
div#content-area .page-content{
	padding:1% 2%;
	font-family:open-sans;
	letter-spacing:0.5pt;
	text-align:justify;
}
div#content-area #about-me-content p{
	width:83%;
	float:left;
}
.page-header{
	border-bottom:1px solid #DFDFDF;
	color:white;
}
div#content-area .sub-title{
	font-family:source-sans;
	text-decoration: underline;
	font-size:17pt;
}
div.sub-info{
	margin: 0% 0% 1% 0%;
}
div.sub-text h4{
	font-size:15pt;
}
div.page-entry li{
	margin-bottom:0.5%;
}
#lp-2008{
	margin-top:4%;
}
#nica-ss-vid-header{
	font-size:17pt;
}
#nica-missions-content .page-entry{
	margin:0 0 5% 0;
}
.sub-text ul{
	font-size:8pt;
	margin-left:-1em;
}

/* LOGOS and IMAGES */
#fbc-logo{
	float:left;
	width:300px;
	margin: 0.5% 2% 1% 1%;
	display:block;
}
#pjhope-logo{
	float:left;
	width:150px;
	margin:0.5% 2% 1% 1%;
	display:block;
}
#ft-logo{
	float:left;
	width:250px;
	margin:0.5% 2% 1% 1%;
	display:block;
}
#sp-logo{
	float:left;
	width:250px;
	margin:0.5% 2% 1% 1%;
	display:block;
}
#nica-maps-images{
	width:91.25%;
	margin: 1.5% 4.375% -1% 4.375%;
}
#nica-maps-images img{
	float:left;
	margin:1%;
	width:48%;
}
.page-footerimage-container{
	width:20.5%;
	padding:1%;
	margin: 0% 39.75%;
}
#my-photo{
	width:15%;
	-webkit-transform:rotate(0deg);
	-moz-transform:rotate(0deg);
	-o-transform:rotate(0deg);
	-ms-transform:rotate(0deg);
	transform:rotate(0deg);
	float:left;
	margin-left:2%;
}
#data-src-credit img{
	margin:2em 0 0 0;
}
#weather-settings{
	float:right;
	width:1em;
	cursor:pointer;
	transition:color 0.3s;
	transition-timing-function:ease-in-out;
}
#weather-settings:hover{
	color:#FF9B08;
}
#windArrow{
	position:relative;
	z-index:2;
}
#windCrosshair{
	position:absolute;
	z-index:1;
	margin:0 0 3em 0;
}

/* IFRAMES */
div.page-content iframe.map{
	padding:1%;
	width:640px;
	height:480px;
	margin:1% 15% 2% 15%;
}

/* FORMS */
input{
	border:1px solid lightgrey;
	border-radius:4px;
	padding:0.2em;
}
textarea{
	border:1px solid lightgrey;
	border-radius:4px;
	padding:0.2em;
}
div.form-container{
	padding:1%;
	font-family:source-sans;
	width:50%;
	margin: 0% 25%;
}
form.form{
	width:90%;
	margin:0% 5%;
}
form.form input{
	color:black;
	float:right;
	width:100%;
	margin: 0% 0% 1.5em 0%;
}
form.form textarea{
	color:black;
	float:right;
	width:100%;
	height:4.5em;
	margin: 0% 0% 1.5em 0%;
}
form.form label{
	margin-bottom:0.5em;
	padding-top:1%;
	display:block;
}
div.form-container div#errorNotice{
	border:3px solid #B94A48;
	border-radius:2px;
	padding:1em;
	background-color:#E6A9A9;
	text-align:center;
	margin: -3% 0% 3% 0%;
	font-size:12pt;
}
input:focus,
textarea:focus{
	box-shadow: 0 0 8px white;
}

/* WEATHER */
#weather-data-container{
	width:60%;
	margin: 0% 20%;
}
#weather-data-container #weather-header{
	margin-bottom:3em;
}
#weather-data-container #labels{
	float:left;
	width:50%;
	padding-right:3%;
	border-right:1px solid rgba(217, 217, 217, 0.15);
}
#weather-data-container #datas{
	float:left;
	width:50%;
	margin-left:-2%;
}
#weather-data-container li{
	padding-bottom:1em;
}
#weather-col-left{
	border-right:1px solid rgba(217, 217, 217, 0.15);
	padding-right:3em;
}
#weather-col-right{
	border-left:1px solid rgba(217, 217, 217, 0.15);
	padding-left:3em;
}